</div>
</div>
</div>
</div>
</main>


<!-- Search model end -->

<!-- JS here -->

<script Type=“text/javascript” src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script Type=“text/javascript” src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script Type=“text/javascript” src="/assets/js/popper.min.js"></script>
<script Type=“text/javascript” src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script Type=“text/javascript” src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script Type=“text/javascript” src="/assets/js/owl.carousel.min.js"></script>
<script Type=“text/javascript” src="/assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script Type=“text/javascript” src="/assets/js/wow.min.js"></script>
<script Type=“text/javascript” src="/assets/js/animated.headline.js"></script>
<script Type=“text/javascript” src="/assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script Type=“text/javascript” src="/assets/js/jquery.scrollUp.min.js"></script>
<script Type=“text/javascript” src="/assets/js/jquery.nice-select.min.js"></script>
<script Type=“text/javascript” src="/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script Type=“text/javascript” src="/assets/js/contact.js"></script>
<script Type=“text/javascript” src="/assets/js/jquery.form.js"></script>
<script Type=“text/javascript” src="/assets/js/jquery.validate.min.js"></script>
<script Type=“text/javascript” src="/assets/js/mail-script.js"></script>
<script Type=“text/javascript” src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script Type=“text/javascript” src="/assets/js/plugins.js"></script>
<script Type=“text/javascript” src="/assets/js/main.js"></script>
</body>

</html>